.school-result-card .print-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 2%;
    margin-bottom: 5mm;
}
.school-result-card .print-table table tr {
    background-color: white;
    border: 1px solid black;
    padding: .35em;
    line-height: 0.5;
}
.school-result-card .print-table table th,
.school-result-card .print-table table td {
    padding: .625em;
    border: 1px solid black;
}
.school-result-card .print-table table th {
    font-size: .75em;
    text-transform: uppercase;
    text-align: center;
}
.result-stats {
    margin-bottom: 40px;
}
.result-stats.row {
    margin-bottom: 4px;
}
.result-stats .attendance-stats {
    margin-top: 2px;
}
.remarks {
    text-align: start;
    margin-bottom: 40px;
}

.result-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px; 
}

.result-footer .right {
    border-top: 1px solid #bebebe;
    padding: 10px 0px;
}

.result-footer .left {
    border-top: 1px solid #bebebe;
    padding: 10px 0px;
}