
.modal-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 4;

	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal {
	background-color: whitesmoke;

	height: 50%;
	width: 50%;
	box-shadow: 20px 20px 100px #111;
	border-radius: 8px;
	padding: 20px;

	overflow-y: auto;
}
