.about-team .card-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.about-team .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 260px;
	width: 220px;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 8px 0px #bebebe;
	border-radius: 5px;
	background-color: #ffffff;
}

.about-team .card .avatar {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 2px solid grey;
	object-fit: fill;
	display: flex;
}

.about-team .card .title {
	font-size: 1rem;
}

.about-team .card .subtitle {
	font-size: 0.85rem;
	border-top: 1px solid #e6e6e6;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.about-team .card .city {
	font-size: 0.85rem;
}