.camera {
	background-color: #fafafa;
	width: 75%;
	min-height: 50%;
	padding: 20px;
	border-radius: 8px;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.camera video, .camera img {
	margin: 25px;
	border: 2px solid #333;
	border-radius: 100%;
}

.camera .row {
	color: white;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.camera .close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.camera .title {
	color: #333;
	align-self: center;
}