.root-page {
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: grid;
	grid-template-columns: 220px 1fr auto;
	grid-template-rows: 80px;
	grid-template-areas: 
		"header header header"
		"burger main panel";
	grid-column-gap: 10px;
	transition: all 1s ease-in;
}

.root-page.double {
	grid-template-columns: 220px 1fr 1fr;
}

.header {
	display: flex;
	grid-area: header;
	background-color: var(--darkgrey);
	color: var(--offwhite);
	align-items: center;
	font-size: 2.5rem;
	letter-spacing: .05em;
	padding-left: 20px;
}

.burger {
	grid-area: burger;
	background-color: var(--darkgrey);
	color: whitesmoke;
	display: flex;
	flex-direction: column;
}

.burger>a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 2px);
	height: 2.5rem;
	text-decoration: none;
	transition: all .2s ease-in;
}
	.burger>a:hover, .burger>a.active {
		background-color: var(--blue);
		color: whitesmoke;
	}

	.burger .divider {
		color: whitesmoke;
	}

.burger-stub {
	grid-area: main;
	padding: 10px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.info-panel {
	grid-area: panel;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

	.info-panel .close {
		align-self: flex-end;
		cursor: pointer;
		font-size: 1.2rem;
		letter-spacing: .1rem;
		padding: 5px;
		text-transform: lowercase;
	}

	.close:hover {
		color: var(--blue);
	}

	@media only screen and (max-width: 767px) {
		.root-page {
			grid-template-columns: 25% auto;
			grid-template-rows: 80px 1fr;
			grid-template-areas: 
				"header header"
				"burger main"
				"burger panel";
			grid-column-gap: 10px;
			transition: all 1s ease-in;
		}

		.root-page.double {
			grid-template-columns: 25% auto;
			grid-template-rows: 80px 0 1fr;
		}

		.root-page.double .burger-stub {
			display: none;
		}
	}