.create-exam-container {
	background-color: #fafafa;
	width: 75%;
	min-height: 50%;
	padding: 20px;
	border-radius: 8px;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.create-exam-container .row .button {
	padding: 10px 15px;
}

.create-exam-container .close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.create-exam-container .title {
	color: #333;
	margin: 10px 0px;
	align-self: center;
}

.create-exam-container .content-inner {
	width: 100%;
}

.create-exam-container .disabled {
	pointer-events: none;
	opacity: 0.7;
}

.bulk-exams .exams .row .create-exam {
	margin-top: 10px;
	padding: 10px 15px;
}

@media (max-width: 768px) {
	.create-exam-container .close.button {
		padding: 4px 8px;
	}
	.create-exam-container .title {
		font-size: 1.75em;
	}
}

@media (max-width: 425px) {
	.create-exam-container .close.button {
		font-size: 14px;
		padding: 2px 6px;
	}
	.create-exam-container .title {
		font-size: 1.5em;
	}
	.create-exam-container .row .button {
		padding: 5px 10px;
	}
}

.bulk-exams .table-wrapper {
	width: 100%;
	max-height: 440px;
	overflow: scroll;
}

.bulk-exams .table-wrapper table {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.bulk-exams .table-wrapper td, th {
	white-space: nowrap;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

.bulk-exams .table-wrapper th {
	background-color: #eee;
	position: sticky;
	top: -1px;
	z-index: 2;
	padding: 20px 0px;
}

/* The first cell that lives in the top left of our spreadsheet */
.bulk-exams .table-wrapper th:first-of-type {
	left: 0;
	z-index: 3;
}

 /* The first column that we want to stick to the left */
 .bulk-exams .table-wrapper tbody tr td:first-of-type {
	background-color: #eee;
	position: sticky;
	left: -1px;
	z-index: 1;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
}

.bulk-exams .table-wrapper tbody tr td input {
	width: 80px;
	border-radius: 2px;
	font-size: 0.95rem;
	background-color: #fff;
	border-color: #949191;
	border: 1px solid #949191;
	box-shadow: none;
	display: inline-block;
	height: 1.0em;
	justify-content: flex-start;
	line-height: 1.0;
	padding: calc(.5em - 1px);
}

.bulk-exams .row.marks-sheet {
	justify-content: flex-end;
	margin-top: 20px;
}

.bulk-exams .row.row.marks-sheet .button {
	padding: 10px 15px;
}