.fileContainer {
	overflow: hidden;
	position: relative;
}

.fileContainer [type=file] {
	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
	border-radius: .5em;
	float: left;
}

.fileContainer [type=file] {
	cursor: pointer;
}

.school.logo {
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 5px;
	max-width: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.settings .badge-container{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
div.settings .new-badge {
	width: 10%;
}

.settings .button.grey {
	margin: 10px 0;
	border-width: 1px;
	border-radius: 2px;
}

.settings .grade-menu .button.green {
	width: auto;
	align-self: flex-end;
}

.settings .grade-menu .editable-row {
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	.settings .editable-row input[type=number] {
		width: 90%;
		margin-right: 5px;
	}
	.settings .editable-row div {
		width: 2%
	}
