.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing .button {
	display: flex;
	margin: 10px;
	height: 100px;
	width: 100px;
	align-items: center;
	justify-content: center;
}