.single-student .form {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.save-delete {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.single-student .click-label {
	color: #aaa;
	text-align: right;
	cursor: pointer;
}
	.click-label:hover {
		color: #fc6171;
	}

@media only screen and (min-width: 768px) {
	.save-delete .button {
		margin-left: 0;
	}
}