.single-student .form {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.save-delete {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.single-student .click-label {
	color: #aaa;
	text-align: right;
	cursor: pointer;
}
	.click-label:hover {
		color: #fc6171;
	}

.single-student .profile-pic {
	border: 2px solid #333;
	border-radius: 100%;
	margin-left: auto;
}

.call-link {
	width: 10% !important;
	margin: 5px !important;
}

input[disabled], select[disabled] {
	background-color: #aaaaaa36;
	color: #aaa
}

@media only screen and (min-width: 768px) {
	.save-delete .button {
		margin-left: 0;
	}
}

@media print {
	::-webkit-input-placeholder {
		color: transparent
	}
	.layout>div:nth-child(2) {
		padding-bottom: 0px;
	}
}