.student-fees {
	width: 90%;
}

.student-fees .form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.student-fees .form .print.button {
	margin-top: 20px;
}

.payment-history {
	font-family: monospace;
	color: #222;
	background-color: white;
}

	.payment-history .table.row {
		border-bottom: 1px solid #222;
		line-height: 2rem;
	}

	.payment-history .table.row.last {
		border-top: 1px solid #222;
		border-bottom: none;
	}

.student-fees .filter select {
	margin: 5px;
}

.student-fees .print-wrap {
	display: flex;
	flex-direction: row;
}
	.student-fees .print-wrap>* {
		display: none;
		width: 100%;
	}

	.student-fees .print-wrap>*:first-child {
		display: block;
	}

	@media print {
		.student-fees .print-wrap>* {
			display: block;
			width: 100%;
		}

		.voucher-signature div {
			font-size: 0.5rem;
		}
		.voucher-signature .line {
			margin-bottom: 2mm;
		}
	}