.student-fees {
	width: 90%;
}

.student-fees .form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.student-fees .form .print.button {
	margin-top: 20px;
}

.payment-history {
	font-family: monospace;
	color: #222;
	background-color: white;
}

	.payment-history .table.row {
		border-bottom: 1px solid #222;
		line-height: 2rem;
	}

	.payment-history .table.row.last {
		border-top: 1px solid #222;
		border-bottom: none;
	}

.student-fees .filter select {
	margin: 5px;
}

.student-fees .print-wrap {
	display: flex;
	flex-direction: row;
}
	.student-fees .print-wrap>* {
		display: none;
		width: 100%;
	}

	.student-fees .print-wrap>*:first-child {
		display: block;
	}

	@media print {
		.student-fees .print-wrap>* {
			display: block;
			width: 100%;
		}
		.payment-history.section .row.info * {
			font-weight: normal;
			font-size: 0.7rem;
		}
		.payment-history {
			margin: 10px 5px;
		}
		.payment-history .divider {
			margin: 10px
		}
		.voucher.table.row * {
			font-weight: normal;
			line-height: 1.5rem;
			font-size: 0.8rem;
			width: 100%;
		}
		.voucher.table.row .date {
			text-align: left;
			max-width: 20%;
		}
		.voucher.table.row .amount {
			text-align: right;
			max-width: 20%;
		}
		.voucher.table.row .label {
			text-align: center;
			max-width: 60%;
			word-wrap: normal;
		}

		.voucher-signature div {
			font-size: 0.5rem;
		}
		.voucher-signature .line {
			margin-bottom: 2mm;
		}
	}
	.pending-amount{
		color: #FC6171;
		font-weight: bold;
	}
	.advance-amount{
		color: #5ECDB9;
		font-weight: bold;
	}