
.login .form .row>* {
    width: initial;
}
	.row .show-hide-container {
		border: 1px solid #bbb;
		border-radius: 0px 5px 5px 0px;
		padding: 0px 5px;
		display: flex;
		border-left: 0px;
	}

.school-login .form .row>* {
    width: initial;
}

.downloading {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}