.attendance .status {
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
}

.attendance .status .button {
	margin: 0 5px;
	font-size: 1rem;
}

.attendance .select.button {
	height: auto;
	width: 90px;
	-webkit-appearance: inherit;
}

.attendance .list-row {
	flex-direction: row;
	justify-content: space-between;
	height: min-content;
	padding: 5px 0px;
	width: 100%;
}

.attendance .list-row .student-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-shrink: 20;
	max-width: 50%;
	overflow-x: auto;
}

.attendance .list-row .student-info .row {
	align-items: center;
}

.attendance .list-row input {
	flex-shrink: 0;
}

.attendance .list {
	margin-top: 5px;
	overflow: auto;
}

.button.PRESENT {
	background-color: #95B8D1;
	background-color: #4ec9b3;
}

.button.ABSENT {
	background-color: #EDAFB8;
	background-color: #fc6171;
}

.button.LEAVE {
	background-color: #E8DDB5;
	background-color: #aaaaaa;
}

.attendance a.button {
	margin-top: 20px;
	margin-left: auto;
	margin-right: 5%;
}

.attendance .list {
	border-radius: 4px;
}

.attendance .button.select-all {
	margin-right: 2px;
}

.attendance .selectors {
	margin-top: 5px;
	display: flex;
	width: 90%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.attendance .selectors .row {
	width: 40%;
}

@media only screen and (max-width: 768px) {

	.attendance .selectors .row {
		width: 100%;
	}
	.attendance .selectors .row select {
		margin-top: 5px;
		width: 100%;
	}

	.attendance .select.button {
		width: 50px;
	}
}

@media only screen and (max-width: 400px) {
	.attendance .status .button {
		padding: 5px 10px;
		border-width: 2px;
	}

	.attendance .select.button {
		width: 34px;
	}
}
