.attendance .status {
	display: flex;
	margin-left: auto;
	flex-direction: row;
}

.attendance .status .button {
	margin: 0 5px;
}

.attendance .list {
	margin-top: 5px;
}

.button.PRESENT {
	background-color: #95B8D1;
}

.button.ABSENT {
	background-color: #EDAFB8;
}

.button.LEAVE {
	background-color: #E8DDB5;
	background-color: #d1d1d1;
}

.attendance a.button {
	margin-top: 20px;
	margin-left: auto;
	margin-right: 5%;
}

.attendance .button.select-all {
	margin-top: 20px;
	margin-right: auto;
	margin-left: 5%;
	padding: 5px 10px;
}

.attendance .list {
	border-radius: 4px;
}