
.student-marks-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.student-marks-container .no-print>* {
		margin: auto;
	}

.student-marks {
	width: 90%;
	text-align: center;
}

.student-marks .student-info {
	text-align: left;
	margin: 10px 0;
}

.student-marks .table.section {
	overflow-x: auto;
}
.student-marks .table.row {
	flex-wrap: nowrap;
}

.student-marks .table.row {
	line-height: 3rem;
	width: auto;
	border-bottom: 1px solid #aaa;
}
	.student-marks .table.row:last-child {
		border-bottom: none;
	}

.student-marks .table.row * {
	flex-wrap: nowrap;
	flex: 1 1 100%;
	min-width: 1rem;
	width: initial;
	text-align: left;
}
	.student-marks .table.row *:last-child {
		text-align: left;
	}

	.student-marks .table.row.footing {
		padding-top: 20px;
		border-top: 3px solid #222;
	}

@media print {

	.student-marks .table.row {
		font-family: 'Courier New', Courier, monospace;
		font-size: 10pt;
		line-height: 2em;
	}
}