.excel-import-students .file-upload-container {
    width: 100%;
}

.excel-import-students .file-upload {
	position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
}

.excel-import-students .file-upload input {
    min-width: 14rem;
    margin: 0;
    opacity: 0;
}

.excel-import-students .file-upload-custom:before {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    display: block;
    content: "Upload CSV";
    padding: .5rem 1rem;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    background-color: #5ecdb9;
    border-radius: 5px;
    border: 3px solid rgba(0,0,0,0.2);
}
.excel-import-students .file-upload-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: .5rem 1rem;
    line-height: 1.5;
    color:#aaa;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    white-space: nowrap;
    overflow: hidden;
}

.excel-import-students .table-wrapper {
	width: 100%;
	max-height: 440px;
	overflow: scroll;
}

.excel-import-students .table-wrapper table {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.excel-import-students .table-wrapper td, th {
	white-space: nowrap;
	border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
	vertical-align: middle;
}

.excel-import-students .table-wrapper tbody td.text-left {
    text-align: left;
}

.excel-import-students .table-wrapper th {
	background-color: #eee;
	position: sticky;
	top: -1px;
	z-index: 2;
    padding: 20px 0px;
}

/* The first cell that lives in the top left of our spreadsheet */
.excel-import-students .table-wrapper th:first-of-type {
	left: -1px;
	z-index: 3;
}

 /* The first column that we want to stick to the left */
 .excel-import-students .table-wrapper tbody tr td:first-of-type {
	background-color: #eee;
	position: sticky;
	left: -1px;
	z-index: 1;
	padding: 5px;
	vertical-align: middle;
}

.excel-import-students .table-wrapper tbody .delete-button img {
    height: 20px;
    width: 20px;
    padding: 4px;
    cursor: pointer;
}

@media (max-width: 572px) {
    .excel-import-students .table-wrapper th:first-of-type {
        left: unset;
    }
    .excel-import-students .table-wrapper tbody tr td:first-of-type {
        position: relative;
        left: unset;
        z-index: 0;
    }
}