.teacher-attendance .status .button {
	margin: 0 5px;
}

.teacher-attendance .status {
	display: flex;
	margin-left: auto;
	flex-direction: row;
	align-items: center;
	font-size: 1rem;
	overflow-x: auto;
}

.teacher-attendance .status .button {
	flex-shrink: 0;
}
