
.list-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.list-wrap .button {
	align-self: flex-end;
	margin-right: 5%;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	width: 90%;
	margin-top: 15px;
	/*border-radius: 20px 20px 0 0;*/
	border-radius: 4px;
}

.list>* {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid black;
}

.list-row>* {
	margin: 0 10px;
}

.list-row>a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-shrink: 1000000000;
}

.list .create {
	justify-content: center;
	cursor: pointer;
}

.list .create a {
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border-radius: 20px 20px 0 0;*/
	transition: all .2s ease-in;
}

	.list .create a:hover {
		background-color: black;
		color: white;
	}