.class-report {
	width: 100%;
	display: block!important;
}

.class-report .button {
	margin: 20px;
}

.class-report .student-report {
	width: 100%;
	display: block;
	margin: auto;
	text-align: center;
	float: none;
}

.class-report .student-report .student-marks {
	margin: auto;
	margin-top: 0;
}