.title {
	text-align: center;
}

.button.print-old {
	background-color: #f4d29f;
	box-shadow: 3px 3px 5px #ffe7c2;
	color: #e0e0e0;
	border: 3px solid rgba(0,0,0,0.2);
}

.filter-container {
	width: 90%;
	align-items: center;
	margin-bottom: 4px;
	justify-content: space-between;
}

.filter-container .checkbox-container {
	width: 40%;
	align-items: center;
}

.filter-container .checkbox-container .checkbox {
	display: flex;
	align-items: center;
	margin-right: 4px;
}

.filter-container .checkbox-container .checkbox input {
	height: 20px;
}

.list-select {
	width: 40%;
	height: 40px;
	margin: .2rem;
}

.student-list .print.button {
	width: 15%;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: .2rem;
	margin-right: 0;
}

@media (max-width: 768px) {
	.filter-container {
		flex-wrap: wrap;
	}
	.checkbox-container {
		flex: 1 0 33%;
	}

}
.profile-card-wrapper {
    width: 240px;
	height: 420px;
	margin: 0.5rem;
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)
}
.profile-card-wrapper .profile {
    margin-top: 2.2em;
    position: relative;
}
.profile-card-wrapper .profile .row.info label {
	font-family: sans-serif;
	font-weight: 700;
	width: 30%;
}
.profile-card-wrapper .profile .thumbnail {
    width: 120px;
    height: 120px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)

}
.profile-card-wrapper .profile .scroll {
	overflow-x: scroll;
}
.profile-card-wrapper .profile .name {
    color: rgb(14, 138, 240);
    font-size: 1.2rem;
    font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}
.profile-card-wrapper .profile .name-wrap {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-card-wrapper .profile .edit-btn {
    width: 130px;
	line-height: 2;
	text-align: center;
    outline: none;
	border: 3px solid rgba(0,0,0,0.2);
    display: block;
    cursor: pointer;
    margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 5px;
	background: #4da2df;
	color: #fff;
    font-weight: 600;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
	text-decoration: none;
}
.pagination .button {
	width: 70px;
}
.pagination .row.paginate-button {
	margin-top: 20px;
	justify-content: space-between;
}