.title {
	text-align: center;
}

.button.print-old {
	background-color: #f4d29f;
	box-shadow: 3px 3px 5px #ffe7c2;
	color: #e0e0e0;
	border: 3px solid rgba(0,0,0,0.2);
}

.student-list .print{
	margin-top: 15px;
	margin-left: auto;
	margin-right: 5%;
}

.filter-container{
	width: 90%;
	align-items: center;
	margin-bottom: 4px
}
	.filter-container .checkbox-container{
		width:70%;
		align-items:center;
	}
	.filter-container .checkbox-container .checkbox{
		display: flex;
		align-items: center;
		margin-right: 4px;
	}

.list-select {
	width: 30%; 
	height: 40px
}