
.mischool-resume{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color:#fc6171 
        
}

    .mischool-resume .headers{
        display: flex;
        flex-direction:row;
        justify-content:center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
        /*boxShadow: 5px 5px 5px 5px #fc6171;
        borderRadius:35px*/
    }

        .mischool-resume .headers .logo{
            max-height: 250px;
            max-width:250px;
            border:1px solid white;
            border-radius:45px;
            animation: glowing 5000ms infinite;
            
        }

        @keyframes glowing {
            0% { box-shadow: 0 0 1px 2px #fafafa; }
            40% { box-shadow: 0 0 20px 5px #fafafa; }
            60% { box-shadow: 0 0 20px 5px #fafafa; }
            100% { box-shadow: 0 0 1px 2px #fafafa; }
          }

    .mischool-resume .body{
        background-color:#fafafa;
        width: 100%;
    }
        .mischool-resume .body .card-video{
            margin: 80px auto;
            padding: 30px;
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            width: 50%;
            border: 3px solid #fc6171; 
            box-shadow: 5px 5px 5px 5px #eaeaea;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }
            .mischool-resume .body .card-video .cv-img-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat; 
                background-position: center;
                background-size: 20%;
            }
                .mischool-resume .body .card-video .cv-img-container .cv-image{
                    opacity: 0.5;
                    max-width: 75%
                }
                .mischool-resume .body .card-video .cv-img-container .cv-play{
                    width: 70px;
                    height: 70px;
                }

        .mischool-resume .body .card{
            margin: 80px auto;
            padding: 30px;
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            width: 85%;
/*          border: 1px solid #b8b8ba; 
            box-shadow: 5px 5px 5px 5px #eaeaea;
            border-radius: 5px; */
            align-items: center;
        }

            .mischool-resume .body .card .info{
                display:inherit;
                flex-direction:column;
                width:60%
            }
                .mischool-resume .body .card .info .card-title{
                    color: #fc6171;            
                }
                .mischool-resume .body .card .info .para{
                    text-align: justify;
                }

                .mischool-resume .body .card .info .icard-row {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                }

            .mischool-resume .body .card .info .icon-card {
                display: flex;
                flex-direction: row;
                max-width: 47%;
                border-radius: 2px;
                box-shadow: 1px 1px 5px 2px #eaeaea; 
                padding: 3px;
                margin-bottom: 10px;
            }
                .mischool-resume .body .card .info .icon-card .icard-image-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                }
                    .mischool-resume .body .card .info .icon-card .icard-image { 
                        height: 30px;
                        width: 30px;
                    }

                .mischool-resume .body .card .info .icon-card .icard-para{
                    width: 75%;
                    font-size: 12px;
                    justify-content: center;
                    align-items: center;
                }


            .mischool-resume .body .card .img-container{
                display: flex;
                flex-direction:row;
                width:40%;
                justify-content:center;
                align-items: center;

            }
                .mischool-resume .body .card .img-container .image{
                    max-height:300px;
                    max-width:200px;
                    min-width: 150px;
                    min-height: 100px;
                }
            
            .mischool-resume .body .package-container{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;

                margin: 50px auto;
                max-width: 1360px;
                width: 75%;

            }
                .mischool-resume .body .package-container .pcard-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                }
                    .mischool-resume .body .package-container .pcard{
                        border: 1px solid #b8b8ba; 
                        box-shadow: 1px 5px 5px 1px #b8b8ba; 
                        border-radius: 3px;
                        min-height: 15vw;
                        
                        text-align: center;
                        margin: 0px 5px 2px 8px;
                        width: 30%;
                    }

    .mischool-resume .footer{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 100%;
        height:100px;
        font-size: 15px;
        margin-left: 20px;
        /*boxShadow: 5px 5px 5px 5px #fc6171;
        borderRadius:35px*/
    }

@media screen and (max-width : 768px){
    .mischool-resume .body .card{
        margin:20px auto;
        padding: 30px;
        display: flex;
        flex-direction:column;
        max-width:1300px;
        width: 75%;
        align-items: center;
        /* box-shadow:5px 5px 5px 5px #eaeaea;
        border: 3px solid #b8b8ba; */
    }
    .mischool-resume .body .card .info .icon-card {
        display: flex;
        flex-direction: row;
    }
    .mischool-resume .body .card .info{
        display:inherit;
        flex-direction:column;
        width:100%
    }
}