.expense-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
}

.expenses {
	width: 90%;
}

.expenses .form {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.expenses .payment-history.section {
	overflow-x: auto;
	width: auto;
	max-height: 50vh;
}

.expenses .payment-history.section .table.row {
	min-width: 600px;
}

.expenses .payment-history.section .edit-input {
	text-align: right;
	border: none;
	border-bottom: 1px solid #bbb;
	width: 70%;
}

.expenses .payment-history.section .row.edit {
	color: rgb(94, 205, 185);
	justify-content: space-between;
}
.expenses .payment-history.section .delete {
	text-align: center;
	padding: 0;
	width: 15px;
	line-height: 15px;
}