.expense-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
}

.expenses {
	width: 90%;
}

.expenses .form {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.expenses .payment-history.section {
	overflow-x: auto;
	width: auto;
	max-height: 50vh;
}

	.expenses .payment-history.section .table.row {
		min-width: 600px;
	}
