
.corona table {
	border-collapse: collapse;
	width: 85%;
}

.corona table thead {
	font-weight: bold;
}

.corona table, .corona td {
	border: 1px solid #333;
	padding: 2px;
}

.corona table td:last-child, .corona table td:first-child {
	text-align: center;
}

.corona table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.needy-form {
	background-color: #fafafa;
	width: 75%;
	max-height: 75%;
	padding: 30px;
	border-radius: 8px;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.needy-form .close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.needy-form .title {
	color: #333;
	align-self: center;
}

.needy-form .form {
	width: 90%;
	margin: auto;
	margin-bottom: 2px;
}

.needy-form .form .row label {
	color: black;
}

.needy-form .form .row select {
	color: grey ;
}

.urdu-lang {
	font-family: 'Noto-Nastaliq-Urdu';
}

.urdu-lang.normal {
	font-size: 1rem;
}

.urdu-lang.small {
	font-size: 0.85rem;
}

.urdu-lang.title {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.needy-form .scrollbar {
	float: left;
	overflow-y: auto;
	margin-bottom: 20px;
}

.needy-form .scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.needy-form .scrollbar::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.needy-form .scrollbar::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media (max-width: 768px) {

	.needy-form .close.button {
		padding: 4px 8px;
	}

	.needy-form .title {
		font-weight: 700;
		font-size: 1.5rem;
	}

	.needy-form .form.urdu .row * {
		flex-wrap: wrap;
	}

	.needy-form .form.urdu .row>*:last-child {
		margin-right: 0;
		width: 100% !important;
		margin-left: auto !important;
	}
}

@media (max-width: 425px) {
	.needy-form .close.button {
		font-size: 0.75rem;
		padding: 2px 6px;
	}
	.needy-form .title {
		font-size: 1.25rem;
	}
}

.needy-form .form.urdu * {
	font-size: 0.85rem;
	font-family: 'Noto-Nastaliq-Urdu';
}

.needy-form .form.urdu .row {
	direction: rtl;
}

.needy-form .form.urdu .row * {
	flex-wrap: wrap-reverse;
}

.needy-form .form.urdu .row>*:last-child {
	width: 30%;
	margin-right: auto;
	margin-left: 0;
}

.needy-form .form-container.scrollbar {
	width: 100%;
	margin-right: 20px;
	margin-left: 20px;
}
