.single-exam .form {
	width: 90%;
}

.single-exam .marks.row {
	display: flex;
	flex-direction: row;
}

.single-exam .marks.row label {
	width: 100%;
}

.single-exam div.remove.row {
	flex-direction: row;
}

.single-exam div.button.red {
	width: auto;
}

