.class-settings {
    width: 90%;
    margin: auto;
}
.note-message {
    margin: 10px 0px
}
.note-message span {
    font-weight: bold;
}
.class-settings .default-fee {
    width: inherit;
}
.class-settings .disabled {
  pointer-events: none;
  opacity: 0.7;
}
