
.planner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.planner .row {
	align-items: center;
	width: 90%;
	justify-content: space-between;
}

.planner .section {
	padding: 15px 0px;
}

.planner .input {
	border: none
}

.planner .table {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin: 5px auto;
}
	.planner .table .row {
		width: 100%
	}

	.planner .row.input input {
		padding: 0px 10px;
	}

	.planner .table .row input.item {
		text-align: center
	}

	.planner .table .row .item {
		text-align: center
	}
	
	.planner .table .row .item {
		display: flex;
		justify-content: center;
		padding: 5px;
		width: calc(90%/2);
		border: none
	}
	.planner .table .row {
		border-bottom: 1px solid #bbb;
	}
	.planner .table :first-child.row {
		font-size: 1.2rem
	}
	.planner .table :last-child.row {
		border-bottom: none
	}

.planner .button {
	margin: 5px 0px auto; 
	width:"90%";
}
.planner .section .button.red {
	margin-right: 5px
}

.planner .notes {
	width: 90%;
	border-radius: 5px;
}

	@media print {
		.planner input.item {
			display: none
		}
		.planner input{
			border: none
		}
	}

	::webkit-calendar-picker-indicator {
		display: none
	}

@media only screen and  (max-width : 768px) {
	.planner{
		width: 95%;
		padding: 15px 10px
	}
	.planner .row.input input{
		width: 80%
	}

	.planner .row.input.info .row {
		flex-direction: column;
		align-items: baseline
	}
}
