.analytics>*:nth-child(2) {
	width: 90%;
}

.analytics .chart-checkbox {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	height: 40px;
}

.analytics .checkbox-container{
	display:flex; 
	flex-direction: row;
	justify-content: center;
}
.chart-checkbox input{
	height: 20px
}
.analytics .search-bar{
	width: 100%;
	height: 37px;
	padding-left: 10px;
	margin-bottom: 10px;
}