html,body, #root, .layout{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #fafafa;
}

.layout>div:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	padding-bottom: 60px;
}

.header {
	display: flex;
	height: 60px;
	background-color: #222;
	color: white;
	align-items: center;
	font-size: 1.5rem;
}

.header a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

a {
	color: #4DA2DF;
}

.header .profile {
	margin-left: auto;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	font-size: 1rem;
}

.table.row {
	justify-content: space-between;
}

	.table.row *{
		width: 100%;
	}

	.table.row *:last-child {
		text-align: right;
	}
	.table.row *:first-child {
		text-align: left;
	}

.section {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}


.form .row {
	margin: 5px 0;
	flex-direction: column;
	width: 100%;
}
	.form .row>* {
		width: 100%;
	}

	.form .row label {
		color: #aaa;
		transition: all .2s ease-out;
	}

	.row:focus-within label {
		color: #4DA2DF;
		font-weight: bold;
	}

	@media only screen and (min-width: 768px) {

		.form .row {
			flex-direction: row;
		}

		.form .row>* {
			width: initial;
		}

		.form .row>*:last-child {
			margin-left: auto;
		}

		.form .button {
			width: initial;
			margin-left: auto;
		}
	}


	.form .save {
		margin-left: auto;
		margin-top: 10px;
	}

.form input {
	background-color: inherit;
	border: none;
	border-bottom: 1px solid black;
	transition: all .2s ease-in;
}

	input[disabled] {
		background-color: #aaa;
	}
	
	input[type="date"] {
		background-color: initial;
		height: 40px;
		border: 1px solid #bbb;
	}

	input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=number], input[list] {
		-webkit-appearance: none; -moz-appearance: none;
		display: block;
		margin: 0;
		height: 40px;
		line-height: 40px; font-size: 17px;
		border: 1px solid #bbb;
	}

	select {
		height: 40px;
		background-color: initial;
	}

	select:focus {
		background-color: white;
	}

	.form input:focus {
		background-color: white;
		border: 1px solid #4DA2DF;
	}


.title {
	margin: 20px 0;
	font-size: 2.0rem;
}

.divider {
	margin: 20px auto;
	font-size: 1.8rem;
	text-align: center;
}


textarea {
	background-color: inherit;
	resize: none;
	border: 1px solid #bbb;
	height: 80px;
	overflow-y: auto;
}

	textarea:focus {
		background-color: white;
		border: 1px solid black;
	}

.button {
	color: #222;
	border: 2px solid #222;
	border-radius: 5px;
	padding: 10px 15px;
	transition: all .3s linear;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	user-select: none;
}

	.button.selected, .button:hover {
		color: #fafafa;
		background-color: #222;
	}

	.section .row .button {
		padding: 5px 10px;
	}

	.form .button.save {
		/*background-color: #95B8D1;*/
		background-color: #4DA2DF;
		color: #fafafa;
		border: 1px solid black;
	}

	.button.red {
		background-color: #EDAFB8;
		color: #fafafa;
		border: 1px solid black;
		margin-left: auto;
		margin-top: 10px;
	}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}