html,body, #root, .layout{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #fafafa;
}

.layout>div:nth-child(2) {
	min-height: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.header {
	display: flex;
	height: 60px;
	background-color: #222;
	color: white;
	align-items: center;
	font-size: 1.5rem;
}

.header a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

.header .profile {
	margin-left: auto;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.form .row {
	margin: 5px 0;
}

	.form .row>*:nth-child(2) {
		margin-left: auto;
	}

	.form .save {
		margin-left: auto;
		margin-top: 10px;
	}

.form input {
	background-color: inherit;
	border: none;
	border-bottom: 1px solid black;
}
	.form input:focus {
		background-color: white;
		border: 1px solid black;
	}

.title {
	font-size: 2rem;
	margin: 20px 0;
}

.divider {
	margin: 20px auto;
	font-size: 1.8rem;
	text-align: center;
}


textarea {
	background-color: inherit;
	resize: none;
	border: none;
	border-bottom: 1px solid black;
}

	textarea:focus {
		background-color: white;
		border: 1px solid black;
	}

.button {
	color: #222;
	border: 2px solid #222;
	border-radius: 5px;
	padding: 10px 15px;
	transition: all .3s linear;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

	.button.selected, .button:hover {
		color: #fafafa;
		background-color: #222;
	}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}