.certificate {
    width: 90%
}

.cert-Info .row {
    width: 100%;
    justify-content: space-between
}

.cert-Info select {
    width: 40%
}

.certificate .button {
    margin-top: 5px
}

.certificate-page{
    width: 95%;
    margin: 10px auto;
}

.certificate-page .emphasize {
	font-weight: bold;
	text-decoration: underline;
}

/* In case we use input for text*/
.certificate-page .text-input {
	border-bottom: 1px solid #bbb;
    text-align: center;
	display: flex;
	flex-direction: row;
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
}

.certificate .head .divider {
	font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.certificate .head .sub-divider {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin: 20px auto;
}

.certificate .body {
    line-height: 30px;
    word-spacing: 3px;
 	font-size: 1rem;

}

.certificate .body .para {
/* 	text-indent: 5%;
 */	margin: 50px 0px;
	text-align: left;
}

.certificate .body .cert-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	
}
	.cert-row label {
		width: 20%;
		justify-content: center;
	}
	.cert-row div {
		width: 70%;
		border-bottom: 1px solid #bbb;
		font-weight: bold;
		text-align: center
	}
	/* In case we use input for text*/
	.cert-row .text-input {
		width: 70%;
	}

.certificate .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px; 
}
    .certificate .footer .right {
        border-top: 1px solid #bebebe;
        padding: 10px 0px;
    }
    .certificate .footer .left {
        border-top: 1px solid #bebebe;
        padding: 10px 0px;
    }

    @media print {
        .certificate {
            margin-top: 50px;
            border: 10px double rgba(0,0,0,0.3);
        }
        .certificate-page{
            border-top: none;
        }
    }
    .school-code{	
        color: black;
        font-weight: 800;
    }
    .address {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .text-center {
        text-align: center;
    }