.banner {
	text-align: center;
	padding: 25px;
	font-size: 1.5rem;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.banner.good {
	background-color: #4DA2DF;
	color: whitesmoke;
}

.banner.bad {
	background-color: #EDAFB8;
	color: whitesmoke;
}
